*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
  background: white;
  font-family: 'Roboto', sans-serif;
    background: url("https://images.pexels.com/photos/1265584/pexels-photo-1265584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}
h1{text-align: center;margin-top: 14%;    margin-bottom: 27px; color: #FFF;font-weight: bold;text-transform: uppercase}
form
{
    width: 33%;
    margin: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 18px;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;


}
form input 
{
text-transform: capitalize;
    display: block;
    width: 100%;
    padding: 13px;
    margin-bottom: 14px;
    font-size: 10pt;
}
form input[type="submit"]
{
    padding: 10px;
    background-color: #2ec794;
    color: #fff;
    font-size: 14pt;
    outline: none;
    border: none;
    border-radius: 5px;
}